body{
    background:linear-gradient(#F3E5F5,#807400);
    /* background-image:url(hf10_wallpaper_sponsors_1920x1080.png);
    background-size: 100% 100%; */
}

.form-control{
    outline:1px solid black ;
}


#form{
    border-radius: 12px;
    outline:1px solid black;
}


#Profession{
    padding:2px 4px;
    outline:1px solid black;
    border-radius:5px;
}


.btn{
    padding:6px 10px;
}



